*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  font-size: 20px;
}

.App {
  max-width: 960px; /*Limits the width of the container but let's it get smaller if needed.*/
  margin: 0 auto; /*Center the container horizontally in the middle of the page.*/
  padding: 12px;
  color: black;
}

.hero {
  margin-top: 20px;
}

.hero img {
  width: 100%;
  height: auto;
}

.hero .view {
  font-size: 10px;
  color: gray;
}

.hero .date {
  font-weight: bold;
}

.place{
  font-size: 20px;
  font-weight: bold;
  background-color: #9689895d;
  max-width: fit-content;
}